# =========================
# FRONTEND (React/Vite)
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
*.local

# =========================
# BACKEND (Python/Django)
# =========================
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.env.*
!.env.example

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal

# =========================
# IDEs / OS / Editor
# =========================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
*.sw?
